<div id="<%= dom_id course_module %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Student:</strong>
    <%= course_module.student_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Module name:</strong>
    <%= course_module.module_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= course_module.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= course_module.notes %>
  </div>
</div>
